<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}

    {{.Name}}<br>
    {{.Address}}<br>
    {{.City}}, {{.Zip}} <br>
    Region: {{.Region}}<br>
    <br>

{{end}}

</body>
</html>