<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<h1>Date === Open === High === Low === Close === Volume === AdjClose</h1> <br>

{{range .}}
    {{.Date}} === {{.Open}} === {{.High}} === {{.Low}} === {{.Close}} === {{.Volume}} === {{.AdjClose}} <br>
{{end}}

</body>
</html>